[submodule "test/perf-tests"]
	path = test/perf-tests
	url = https://github.com/unibg-seclab/perf-tests
[submodule "test/minikube-overheads/deps/kata-containers"]
	path = test/minikube-overheads/deps/kata-containers
	url = https://github.com/kata-containers/kata-containers.git
[submodule "test/minikube-overheads/deps/dbt3/dbt3-git"]
	path = test/minikube-overheads/deps/dbt3/dbt3-git
	url = https://github.com/osdldbt/dbt3.git
