.envrc
.direnv
*.pdf
ycsb-0.17.0*
TPC-H*3.0.1

test/minikube-overheads/deps/dbt3
!test/minikube-overheads/deps/dbt3/PKGBUILD
!test/minikube-overheads/deps/dbt3/dbt3-git
!test/minikube-overheads/deps/dbt3/patch
